<?xml version='1.0' encoding='utf-8'?>
<plugin id="bonc.com.SignaturePlugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>SignaturePlugin</name><js-module name="SignaturePlugin" src="www/SignaturePlugin.js"><clobbers target="cordova.plugins.SignaturePlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="SignaturePlugin"><param name="android-package" value="bonc.com.SignaturePlugin.SignaturePlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/SignaturePlugin.java" target-dir="src/bonc/com/SignaturePlugin/SignaturePlugin" /></platform></plugin>